In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaitangata,NZ,2022-11-09 10:53:21,-46.2817,169.8464,42.49,79,2,5.12
1,1,Shahrud,IR,2022-11-09 10:53:21,36.4182,54.9763,52.41,22,0,2.15
2,2,Salvador,SV,2022-11-09 10:50:41,13.8333,-88.9167,62.76,97,93,3.42
3,3,Ponta Do Sol,PT,2022-11-09 10:53:22,32.6667,-17.1000,75.70,84,21,2.55
4,4,Cabo San Lucas,MX,2022-11-09 10:53:22,22.8909,-109.9124,73.51,70,0,5.01
...,...,...,...,...,...,...,...,...,...,...
525,525,Calama,CL,2022-11-09 11:07:07,-22.4667,-68.9333,50.49,20,0,16.11
526,526,Bismarck,US,2022-11-09 11:05:02,46.8083,-100.7837,24.87,89,100,10.36
527,527,Odweyne,SO,2022-11-09 11:07:07,9.4092,45.0640,84.67,33,18,5.17
528,528,Saint-Joseph,RE,2022-11-09 11:07:08,-21.3667,55.6167,79.18,74,68,10.33
529,529,Gat,IL,2022-11-09 11:07:08,31.6100,34.7642,72.81,100,6,9.89

In [3]:
# Check data types - for gmaps they must be either an integer or floating point
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Get maximum temperature
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind speend
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter dataset to fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=
                                       max_temp) & 
                                       (city_data_df["Max Temp"]>= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Ponta Do Sol,PT,2022-11-09 10:53:22,32.6667,-17.1000,75.70,84,21,2.55
5,5,Faya,SA,2022-11-09 10:53:23,18.3851,42.4509,77.11,36,1,10.31
7,7,Sinnamary,GF,2022-11-09 10:53:23,5.3833,-52.9500,77.16,90,100,9.89
13,13,Vaini,TO,2022-11-09 10:53:26,-21.2000,-175.2000,75.36,88,40,10.36
18,18,Georgetown,MY,2022-11-09 10:50:14,5.4112,100.3354,86.95,73,20,8.05
23,23,Kapaa,US,2022-11-09 10:53:28,22.0752,-159.3190,76.10,83,24,1.99
24,24,Touros,BR,2022-11-09 10:53:29,-5.1989,-35.4608,83.50,63,93,13.42
26,26,Hithadhoo,MV,2022-11-09 10:53:29,-0.6000,73.0833,82.04,76,100,17.02
28,28,Atuona,PF,2022-11-09 10:50:29,-9.8000,-139.0333,76.23,72,69,14.83
33,33,Faanui,PF,2022-11-09 10:53:31,-16.4833,-151.7500,78.75,74,77,11.48

In [30]:
# Determine if there are null values
preferred_cities_df.count()

City_ID       157
City          157
Country       156
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [33]:
# Drop null values
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3   Ponta Do Sol      PT     75.70  32.6667  -17.1000
5           Faya      SA     77.11  18.3851   42.4509
7      Sinnamary      GF     77.16   5.3833  -52.9500
13         Vaini      TO     75.36 -21.2000 -175.2000
18    Georgetown      MY     86.95   5.4112  100.3354
23         Kapaa      US     76.10  22.0752 -159.3190
24        Touros      BR     83.50  -5.1989  -35.4608
26     Hithadhoo      MV     82.04  -0.6000   73.0833
28        Atuona      PF     76.23  -9.8000 -139.0333
33        Faanui      PF     78.75 -16.4833 -151.7500

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except(IndexError):
        print("Hotel not found..skipping")

Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Ponta Do Sol,PT,75.70,32.6667,-17.1000,Hotel do Campo
5,Faya,SA,77.11,18.3851,42.4509,Ø´ÙŠÙ„Ø© Ù†Ø³Ø§ÙŠÙ…
7,Sinnamary,GF,77.16,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
13,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
18,Georgetown,MY,86.95,5.4112,100.3354,Cititel Penang
23,Kapaa,US,76.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Touros,BR,83.50,-5.1989,-35.4608,INN NEW HORIZON
26,Hithadhoo,MV,82.04,-0.6000,73.0833,Scoop Guest House
28,Atuona,PF,76.23,-9.8000,-139.0333,Villa Enata
33,Faanui,PF,78.75,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [46]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]