# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Qaanaaq,GL,77.4840,-69.3632,-3.06,61,0,7.25,clear sky
1,1,Ulladulla,AU,-35.3500,150.4667,64.29,84,5,5.19,clear sky
2,2,Castro,BR,-24.7911,-50.0119,60.12,93,100,3.87,overcast clouds
3,3,Saint-Pierre,RE,-21.3393,55.4781,73.08,64,40,5.75,scattered clouds
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,24.80,93,100,11.50,light snow
5,5,Bredasdorp,ZA,-34.5322,20.0403,63.55,96,73,3.27,broken clouds
6,6,Cidreira,BR,-30.1811,-50.2056,66.87,87,100,11.05,overcast clouds
7,7,Aksarka,RU,66.5606,67.7975,4.10,95,73,13.58,broken clouds
8,8,Nuuk,GL,64.1835,-51.7216,23.61,63,75,10.36,broken clouds
9,9,Alofi,NU,-19.0595,-169.9187,80.49,74,75,11.50,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [6]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=
                                       max_temp) & 
                                       (city_data_df["Max Temp"]>= min_temp)]

# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
9,9,Alofi,NU,-19.0595,-169.9187,80.49,74,75,11.50,broken clouds
23,23,Praia,CV,14.9215,-23.5087,77.54,73,75,11.50,broken clouds
29,29,Puerto Ayora,EC,-0.7393,-90.3518,76.96,84,69,10.00,broken clouds
30,30,Namatanai,PG,-3.6667,152.4333,78.89,80,100,4.09,overcast clouds
35,35,Georgetown,MY,5.4112,100.3354,78.73,93,20,4.61,few clouds
39,39,Puerto Escondido,MX,15.8500,-97.0667,86.83,58,20,9.22,few clouds
40,40,Umm Lajj,SA,25.0213,37.2685,77.50,59,4,9.06,clear sky
42,42,Atuona,PF,-9.8000,-139.0333,77.34,80,13,14.72,few clouds
44,44,Nabire,ID,-3.3667,135.4833,76.14,87,95,2.91,moderate rain
54,54,Isangel,VU,-19.5500,169.2667,82.51,89,100,3.44,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
9,9,Alofi,NU,-19.0595,-169.9187,80.49,74,75,11.50,broken clouds
23,23,Praia,CV,14.9215,-23.5087,77.54,73,75,11.50,broken clouds
29,29,Puerto Ayora,EC,-0.7393,-90.3518,76.96,84,69,10.00,broken clouds
30,30,Namatanai,PG,-3.6667,152.4333,78.89,80,100,4.09,overcast clouds
35,35,Georgetown,MY,5.4112,100.3354,78.73,93,20,4.61,few clouds
39,39,Puerto Escondido,MX,15.8500,-97.0667,86.83,58,20,9.22,few clouds
40,40,Umm Lajj,SA,25.0213,37.2685,77.50,59,4,9.06,clear sky
42,42,Atuona,PF,-9.8000,-139.0333,77.34,80,13,14.72,few clouds
44,44,Nabire,ID,-3.3667,135.4833,76.14,87,95,2.91,moderate rain
54,54,Isangel,VU,-19.5500,169.2667,82.51,89,100,3.44,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [20]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description","Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                City Country  Max Temp      Description      Lat       Lng
9              Alofi      NU     80.49    broken clouds -19.0595 -169.9187
23             Praia      CV     77.54    broken clouds  14.9215  -23.5087
29      Puerto Ayora      EC     76.96    broken clouds  -0.7393  -90.3518
30         Namatanai      PG     78.89  overcast clouds  -3.6667  152.4333
35        Georgetown      MY     78.73       few clouds   5.4112  100.3354
39  Puerto Escondido      MX     86.83       few clouds  15.8500  -97.0667
40          Umm Lajj      SA     77.50        clear sky  25.0213   37.2685
42            Atuona      PF     77.34       few clouds  -9.8000 -139.0333
44            Nabire      ID     76.14    moderate rain  -3.3667  135.4833
54           Isangel      VU     82.51  overcast clouds -19.5500  169.2667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [21]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
9,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,
23,Praia,CV,77.54,broken clouds,14.9215,-23.5087,
29,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
30,Namatanai,PG,78.89,overcast clouds,-3.6667,152.4333,
35,Georgetown,MY,78.73,few clouds,5.4112,100.3354,
39,Puerto Escondido,MX,86.83,few clouds,15.8500,-97.0667,
40,Umm Lajj,SA,77.50,clear sky,25.0213,37.2685,
42,Atuona,PF,77.34,few clouds,-9.8000,-139.0333,
44,Nabire,ID,76.14,moderate rain,-3.3667,135.4833,
54,Isangel,VU,82.51,overcast clouds,-19.5500,169.2667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [22]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [23]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
9,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
23,Praia,CV,77.54,broken clouds,14.9215,-23.5087,LT Aparthotel
29,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Namatanai,PG,78.89,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
35,Georgetown,MY,78.73,few clouds,5.4112,100.3354,Cititel Penang
39,Puerto Escondido,MX,86.83,few clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
40,Umm Lajj,SA,77.50,clear sky,25.0213,37.2685,Moon light Furnished Units
42,Atuona,PF,77.34,few clouds,-9.8000,-139.0333,Villa Enata
44,Nabire,ID,76.14,moderate rain,-3.3667,135.4833,Hotel Nusantara I
54,Isangel,VU,82.51,overcast clouds,-19.5500,169.2667,Tanna Lodge

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [25]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
9,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
23,Praia,CV,77.54,broken clouds,14.9215,-23.5087,LT Aparthotel
29,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Namatanai,PG,78.89,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
35,Georgetown,MY,78.73,few clouds,5.4112,100.3354,Cititel Penang
39,Puerto Escondido,MX,86.83,few clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
40,Umm Lajj,SA,77.50,clear sky,25.0213,37.2685,Moon light Furnished Units
42,Atuona,PF,77.34,few clouds,-9.8000,-139.0333,Villa Enata
44,Nabire,ID,76.14,moderate rain,-3.3667,135.4833,Hotel Nusantara I
54,Isangel,VU,82.51,overcast clouds,-19.5500,169.2667,Tanna Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [26]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [27]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [28]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>LT Aparthotel</dd>\n<dt>City</dt><dd>Praia</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seagulls Inn Namatani</dd>\n<dt>City</dt><dd>Namatanai</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aldea del Bazar Hotel and Spa</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 86.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Moon light Furnished Units</dd>\n<dt>City</dt><dd>Umm Lajj</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Nusantara I</dd>\n<dt>City</dt><dd>Nabire</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 76.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.51 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [29]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
9  -19.0595 -169.9187
23  14.9215  -23.5087
29  -0.7393  -90.3518
30  -3.6667  152.4333
35   5.4112  100.3354
39  15.8500  -97.0667
40  25.0213   37.2685
42  -9.8000 -139.0333
44  -3.3667  135.4833
54 -19.5500  169.2667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [32]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))